body{
    background-color: rgb(185, 153, 121);
}
img{
    max-width: 100%;
}
.titulo {
    text-align: center; 
    font-size: 2rem;
    border: 15px beige solid;
}
.texto-centralizado{
    text-align: center;
}
body, input, textarea {
    font-family: 'Caprasimo', cursive;
} 
.fonte-pequena {
    font-size: 1.25rem;
}
.fonte-media {
    font-size: 2.5rem;
}
.fonte-grande {
    font-size: 3.5rem;
}
.margem-pequena{
    margin-top: 1rem;
}
.margem-media{
    margin-top: 2rem;
}
.margem-grande{
    margin-top: 3.5rem;
}