body {
    background-color: #404350;
}

img {
    max-width: 100%;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    border: 18px rgb(26, 26, 31) solid;
}

.texto-centralizado {
    text-align: center;
}

body,
input,
textarea {
    font-family: 'Geologica', sans-serif;
}

.fonte-pequena {
    font-size: 1.25rem;
}

.fonte-media {
    font-size: 2.5rem;
}

.fonte-grande {
    font-size: 3.5rem;
}

.margem-pequena {
    margin-top: 1rem;
}

.margem-media {
    margin-top: 2rem;
}

.margem-grande {
    margin-top: 3.5rem;
}

.branco {
    color: black;
}

.cinza-escuro {
    color: rgb(26, 26, 31);
}

.sombra-titulo {
    color: white;
    text-shadow:
        -2px -2px 0px black,
        -2px 2px 0px black,
        2px 2px 0px black,
        2px 0px 0px black;
}

.margem2 {
    background: rgb(26, 26, 31);
    color: #FFF;
    padding: 13px;
}

.nazista {
    background-color: black;
}

.nazista1 {
    color: red;
}

body,
a {
    cursor: url('https://img.icons8.com/?size=64&id=A3Sd0imZjhLC&format=png'), auto;
}

#custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url('https://i.ibb.co/VY6m6Vq/gozador.png');
    background-size: cover;
    pointer-events: none;
    display: none;
}

#follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    background-image: url('https://i.ibb.co/VY6m6Vq/gozador.png');
    pointer-events: none;
    display: none;
}